@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cormorant Garamond', serif;
}


/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #CCCCCC; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(255, 191, 0); 
  }
  
 


/*Scroll button*/

#button {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    text-decoration: none;
  }
  #button::after {
    content: "\f106";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 1em;
    line-height: 50px;
    color: #fff;
    
  }
  
 
  #button.show {
    opacity: 1;
    visibility: visible;
  }
  

  @media (min-width: 500px) {
    
    #button {
      margin: 30px;
    }
  }
  
/*Scroll button End*/

/*Banner- background image*/


.banner{
    position: relative;
    width: 100%;
    min-height: 630px;
    background-image: url("images/background.png");
    background-size: cover;
  
   
}



.banner::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background:black;
    opacity: 44%;}

/*Banner- background image End*/

/*Header-Primary*/



header{
    position: absolute; 
    width: 100%;
    transition: 0.6s;
    margin-top: 13px;
    z-index: 800;
    
    }
    
header .container{
    display: grid;
}

.primary-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
    border-bottom: 1px solid #C7C7C7;
   
}

/*top left-div*/

.primary-left{
    float:left;
}


.tel-number{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600px;    
}


.tel-number:hover{
    color:#91B40D;
}

.tel-number:hover>.faa-ring{
   
    -webkit-animation:
         ring 2s ease infinite;
         animation: ring 2s ease infinite;
         transform-origin-x: 50%;
         transform-origin-y: 0px;
         transform-origin-z: initial
}

.faa-ring{color: #91B40D;
padding-right: 5px;}

@-webkit-keyframes ring{0%{-webkit-transform: rotate(-15deg);
        transform: rotate(-15deg)}2%{-webkit-transform: rotate(15deg);
        transform: rotate(15deg)}4%{-webkit-transform: rotate(-18deg);
        transform: rotate(-18deg)}6%{-webkit-transform: rotate(18deg);
        transform: rotate(18deg)}8%{-webkit-transform: rotate(-22deg);
        transform: rotate(-22deg)}10%{-webkit-transform: rotate(22deg);
        transform: rotate(22deg)}12%{-webkit-transform: rotate(-18deg);
        transform: rotate(-18deg)}14%{-webkit-transform: rotate(18deg);
        transform: rotate(18deg)}16%{-webkit-transform: rotate(-12deg);
        transform: rotate(-12deg)}18%{-webkit-transform: rotate(12deg);
        transform: rotate(12deg)}20%{-webkit-transform: rotate(0deg);
        transform: rotate(0deg)}}
        
/*top left-div end*/   

/*top right-div */ 
.primary-right{
    float:right;
}



.social-media, .lang{
    display: inline-block;
}

.lang-link{
    text-decoration: none!important;
    color: white!important;
    font-size: 18px!important;
    font-family: 'Cormorant Garamond', serif!important;
    font-weight: 600px;
    
    
    
}

.lang-menu{
  min-width:20px!important; 
  padding:0!important;
  border-radius: none!important;
  align-items: center!important;
  
}

.lang-item{
    font-size: 16px!important;
    font-family: 'Cormorant Garamond', serif!important;
  
    padding-left: 10px!important;
    padding-right: 10px!important;
    font-weight: bold!important;
}

.lang-divider{
    min-width: 5px!important;
    display: flex!important;
    justify-content: center!important;
    background-color: black!important;
}



.social-media-icons{
     color: #91B40D;
     font-size: 18px;
     padding-left: 10px; 
    }
    
.social-media-icons:hover{
     color: #FFFFFF;
    }

/*top right-div end  */ 

/*Header-Primary End*/

/*Header-Secondary*/


.secondary-header .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;    
    padding: 12px 0;
}


.active {
    background-color:#1A5221;
    border-bottom: 1px solid #FFBF00;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    
   
  }


  .hidden-logo{
      visibility: hidden;
     
  }

 .scroll-logo{
    background-image: url("images/logo footer.png");
    background-repeat: no-repeat;
    background-size: 130px 50px; 
    background-position: 3px;
 }

  

 .main-logo{
    margin-top: 15px;
    float:left;
    display: inline-block;
 }

 .secondary-header nav{
  float:right;  
}

 .secondary-header ul{
  
    list-style-type: none;
    
 }
    
.secondary-header ul li{
   
    float:left;
 
}

  

.secondary-header ul li a:hover{   
    color:#91B40D;     
}

.secondary-header ul li:hover::after{
    content: url(images/yarpaq.svg); 
    display: block;
    position: absolute;
    margin-top: -50px;
    
}
   
 .underline-hover:after{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #91B40D;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
 }

 .underline-hover:hover:after{
    width: 100%; 
    left: 0; 
 }

.secondary-header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    transition: 0.6s;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: normal;
 
}


/*search-overlay*/

.btn-search{
    margin-top: -5px;
    background-color: transparent;
    border-style: none;
}

.btn-searchtop{
    padding-left: 5px;
    background-color: transparent;
    border-style: none;
    
}

.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);

    
   
  }
  
  .overlay-content {
    position: relative;
    top: 46%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 30px;
    cursor: pointer;
    color: white;
  }
  
  
  .overlay input[type=text] {
    
    font-size: 17px;
 
    width:700px;
    height: 65px;
    border-radius: none;
    border: 2px solid #fff;
    background-color: transparent;
    color:#fff;
  }
  
  
  
  .overlay button {
  
    width: 200px;
    height: 65px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    font-weight: bold;
    background: #fff;
    border: 2px solid #fff;
    cursor: pointer;
  }
  
  .overlay button:hover {
      background-color: #1A5221;
      color: #fff;
  }

  ::placeholder { 
    color: #fff;
    font-family: 'Cormorant Garamond', serif;
    padding-left: 20px;
    font-size: 20px;
    font-weight: bold;
   }

/*search-overlay end*/


/*hamburger menu & offcanvas*/

.hamburger{
    text-decoration: none!important;
    color: #fff;   
    float:right;
    font-size: 30px;
   
    
    
    
}

.hamburger-menu:hover{
    color:#91B40D;
}

.offcanvas-top{
 width:75%!important;
 height:100%!important;
    
}

.offcanvas-top .offcanvas-header{
    border-bottom: 1px solid #1A5221!important;
}

.offcanvas-top .btn-close{
    font-size: 30px!important;
   color:black!important;
   font-weight: bold!important;
   padding: 0 20px!important;

}

.offcanvas-list ul{
    list-style: none;
    text-align: center;
    
}

.offcanvas-list ul li{
    padding: 10px;
}

.offcanvas-list ul li a:hover{   
    color:#91B40D;  

}

.offcanvas-list ul li a:hover:before{
    content:url("images/yarpaq.svg");
   
}


.underline-hover1 {
  display: inline-block;
  position: relative;
  
}

.underline-hover1:after {
  content: '';
  position: absolute;
  width: 80%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 22%;
  background-color: #91B40D;
  transform-origin: center;
  transition: transform 0.25s ease-out;
}

.underline-hover1:hover:after {
  transform: scaleX(1);
  transform-origin: center;
}

 



.offcanvas-body{
    background-image: url("images/meyve&taxil icon.svg");
   background-position: center;
    background-repeat: no-repeat;
    
    
   
}
   

.offcanvas-list ul li a{
    
    
    text-decoration: none;
    color: #000;
    transition: 0.6s;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: normal;
 
}

.offcanvas-footer{
    border-top:1px solid #1A5221!important;
    padding: 10px!important;
    text-align: center;
    
}
.offcanvas-footer a{
    padding-left: 5px;
   

}


.offcanvas-footer .fa-brands{
    padding:5px;
    background-color: #FFBF00;
    text-decoration: none;
    color: #fff;
  
}

/*hamburger menu & offcanvas End*/

/*Top bottom slides*/

.owl-slider{
    width:50%!important;
   
}

  
  
  .owl-dot  {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    background: #ccc;
   margin-top: 70px;
   cursor: pointer;
    
    
    
  }

  .owl-dots .active {
    background-color: #FFBF00;
    position: static!important;
  }
  
 


  
 
 
  
 
  


.top-slider{
    margin-top:-150px;
}


.item1{
    background-color: #1A5221;  
    
}

.item1, .item2, .item3{
    height:70%!important
}


.item1 .fruit{
    max-width:55%;
    margin-left: 140px;
   margin-top:-38%;
   }

.item2{
    background-color: #91B40D;
}

.vegetable{
    max-width:100%;
    margin-top:-30%;

   
}

 .crop{
    margin-top:-50%;  
}



.item3{
    background-color: #FFBF00;
}


.meyve{
    font-size: 32px;
    color: white;
    line-height: 24px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    margin-left: 31px;
    margin-top: 34px;
    display: inline-block;
    position: absolute;
}


.meyve1{
    font-size: 22px;
    color: white;
    background-color: transparent;
    text-decoration: none; 
    line-height: 24px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: normal;
    margin-left: 31px;
    margin-top: 70px;
    display: inline-block;
    position: absolute;
}




/*Body-top-part*/


.body-top-right{
    
    background-color: #F5F5F5; 

}


.img-about{
   
    margin-right: 75%;
    
}


.body-top-text{
    font-size: 36px;
    font-weight: bold;
    line-height: 43px;
    margin-top: 5%;
    font-family: 'Cormorant Garamond', serif;

}

.yarpaq{
    width:15%;  
    
}

.yarpaq-big{
    width:40%;
}



.body-p{
    font-size: 15px;
    font-family: 'Cormorant Garamond', serif;
    line-height: 22px;
    text-indent: 5px;
    text-align: center;
 
  
}




/* Baglarimiz Body middle part*/


.garden-left h1{
    font-size: 120px;
    font-family: 'Cormorant Garamond', serif;
    color: #918F8F;
    
}

.garden-left h1:hover{
    color:#91B40D;
}

.garden-left h4{
    font-size: 30px;
    line-height: 24px;
    font-family: 'Cormorant Garamond', serif;
    color: #5F5C5C;
    margin-top: 14px;
    
}

.garden-left p{
    width: 80%;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Cormorant Garamond', serif;
    color: #7C7A7A;  
    text-align: justify; 
    
}



/* Image zoom on hover + Overlay colour */
.parent {
    width:320px;
    height: 400px; 
    overflow: hidden;
    position: relative;
    display: inline-block;
  cursor: pointer;
}

.child {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

/* Several different images */
.bg-one {
    background-image: url("images/bag taxil.png");
}
.bg-two {
    background-image: url("images/bag bostan.png");
}

.bg-three {
    background-image: url("images/bag cay.png");
}

.parent:hover .child, .parent:focus .child {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.parent:hover .child:before, .parent:focus .child:before {
    display: block;
}

.garden-heading h5{
    font-size: 36px;
    font-weight: bold;
    line-height: 43px;
    font-family: 'Cormorant Garamond', serif;
 
}

.garden-middle h1{
    font-size: 120px;
    font-family: 'Cormorant Garamond', serif;
    color: #918F8F;
    
}

.garden-middle h1:hover{
    color:#91B40D;
}

.garden-middle h4{
    font-size: 30px;
    line-height: 24px;
    font-family: 'Cormorant Garamond', serif;
    color: #5F5C5C;
   
    
}

.garden-middle p{
    width: 80%;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Cormorant Garamond', serif;
    color: #7C7A7A;
    text-align: justify;
    
}


.garden-middle button{
   
    background-color: transparent;
    border: 1px solid #1a5221;
    color: #1a5221;
    font-family: 'Cormorant Garamond', serif;
    border-radius: 5px;
    
}

.garden-middle button:hover{
   
   
    background-color: #91B40D;
    border: 1px solid #91B40D;
    color: #fff;
    

}

/* Garden Right */




.garden-right h1{
    font-size: 120px;
    font-family: 'Cormorant Garamond', serif;
    color: #918F8F;
    
}

.garden-right h1:hover{
    color:#91B40D;
}

.garden-right h4{
    font-size: 30px;
    line-height: 24px;
    font-family: 'Cormorant Garamond', serif;
    color: #5F5C5C;
    
}

.garden-right p{
    width:80%;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Cormorant Garamond', serif;
    color: #7C7A7A;
    text-align: justify;
   
   
    
}


/* Body-footer-mehsul */




.body-mehsul-top nav a{
    font-size: 22px;
    font-weight: bold;
    line-height: 26px;
    font-family: 'Cormorant Garamond', serif;
    color: #2A332B;
    text-decoration: none;
    padding-right: 32px;
}

.body-mehsul-top nav a:hover{
    color:#91B40D;
}

.body-mehsul h5{

    font-size: 36px;
    font-weight: bold;
    line-height: 43px;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    

}

/* Body-footer-mehsul- cards */



.hidden-icon{
     margin-left: -20px;
     margin-top: -200px;
    position: absolute;
    visibility: hidden;
}


.mehsul-card:hover > .hidden-icon{
    visibility: visible;
}



.mehsul-card{
    position: relative;
    width: 100%;
    height:100%;
    margin-top: 5%; 
    border-radius: 5px;
    transition: transform .2s;
}

.mehsul-card:hover{

    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
    -webkit-box-shadow: 3px 5px 8px 5px rgba(0,0,0,0.19); 
    box-shadow: 3px 5px 8px 5px rgba(0,0,0,0.1);
  
}


.mehsul-card a img{
    width:70%;
    height:68%;
    margin-left: 5%;
    padding-bottom: 5%;
}


.mehsul-card img{
    position: relative;
    z-index: -1;
    
}

.mehsul-card-top{
    width: 80%;
    height:25%;
    margin-left: 10%;
    margin-top: -15%;
    background-color: #fff;
    z-index: 20;
    border-radius: 5px;
    border-style: none;
    -webkit-box-shadow: 3px 5px 8px 5px rgba(0,0,0,0.19); 
    box-shadow: 3px 5px 8px 5px rgba(0,0,0,0.1);
    
}

.mehsul-card-top p{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Cormorant Garamond', serif;
    line-height: 30px;
   margin-top: 5px;
    color: #3E3737;
    text-align: center;
  
  
  
}

.mehsul-card-top span{
    color:#91B40D;
}



/*Bloglar*/



.blog-top h5{
    font-size: 36px;
    font-weight: bold;
    line-height: 43px;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;  
}

.blog1{
    background-color: #fff!important;
    height:400px;
}

.blog1 p{
    margin-left: 3%;
}

.blog1 h6{

    font-size: 20px;
    font-weight: bold;
    font-family: 'Cormorant Garamond', serif;
    line-height: 24px;
   margin-top: 5%;
    color: #3E3737;
    margin-left: 3%;
    
}




/* Blog-zoom-hover*/

.blog-parent {
    width:100%;
    height: 250px; 
    overflow: hidden;
    position: relative;
    display: inline-block;
  cursor: pointer;
}

.blog-child {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.blog-bg-one {
    background-image: url("images/biz kimik.png"); 
    
}

.blog-bg-two {
    background-image: url("images/blog 1.png");
    
}

.blog-bg-three {
    background-image: url("images/blog 2.png");
   
}


.blog-button{
    background-color: transparent;
    border: 1px solid #1a5221;
    color: #1a5221;
    font-family: 'Cormorant Garamond', serif;
    border-radius: 5px;
    
}

/*Footer*/

.main-footer{
    padding-top: 300px;  
    background: url("images/footer.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;

}


.secondary-footer{
    
    border-top: 1px solid #F4F4F4;
    
}

.footer-margin-top{
     
    color: #fff;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 27px;
    padding-bottom: 10px;
}

.footer-list{
padding-left: 0!important;


}

.footer-list li{
    padding-bottom: 10px;
   
}

.footer-list li a{
 
    color: #fff;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    line-height: 27px; 
    text-decoration: none;
  
}


.footer-list li a:hover{
    color:#ffbf00;
}




.copyright-p1,.copyright-p2 {
    display: inline-block;
    color:#fff;
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
    margin-top: 10px;
   

}






.copyright-p2 a, .copyright-p1 a{
    color: #ffbf00;
    text-decoration: none;
}



.copyright-p2 a:hover, .copyright-p1 a:hover{
    color:#ffbf00; 
}
